<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />


<!--
    <script>
    $(function(){
    	var victor = new Victor("backanimation", "output");
    	var theme = [
    			["#002c4a", "#005584"],
    			["#35ac03", "#3f4303"],
    			["#ac0908", "#cd5726"],
    			["#18bbff", "#00486b"]
    		]
    	$(".color li").each(function(index, val) {
    		var color = theme[index];
    		 $(this).mouseover(function(){
    			victor(color).set();
    		 })
    	});
    });
    </script>
    -->
</head>

<body>

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vector.js"></script>
    <script src="js/pixi.js"></script>
    <script src="js/coffee_cups.js"></script>

<!--
    <div class="container" >
        <div class="modal fade" id="myModal" role="dialog" style="top: 30%;position: absolute;">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to restart?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
-->

    </script>

</body>


</html>
