<html>

<head>
	<title> Game Guide </title>

	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/gamepage.css">

</head>

<body>

	<div class="container">

		<!-- Block 1 -->
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-back" onclick="location.href='login.ejs'">Back</button>
			</div>
		</div>

		<!-- Block 2 -->
		<div class="row" style="margin-top: 40%;">
			<div class="col-sm-5">
				<button class="btn btn-game btn-game-cups" onclick="location.href='coffee_cups.ejs'">
					<div></div>
					<span>COFFEE <br> CUPS</span>
				</button>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<button class="btn btn-game btn-game-rain" onclick="location.href='rubbish_rain.ejs'">
					<div></div>
					<span>RUBBISH <br> RAIN</span>
				</button>
			</div>
		</div>

		<!-- Block 2 -->
		<div class="row" style="margin-top: 75%;">
			<div class="col-sm-5">
				<button class="btn btn-game btn-game-match" onclick="location.href='match_color.ejs'">
					<div></div>
					<span>MATCH <br> COLOR</span>
				</button>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<button class="btn btn-game btn-game-sort " onclick="location.href='container_sort.ejs'">
					<div></div>
					<span>CONTAINER <br> SORT</span>
				</button>
			</div>
		</div>

	</div>

	<scrip type="text/javascript" src="js/gamepage.js"></scrip>

</body>
</html>
