<!DOCTYPE html>
<html>
<head>
	<title> Guide Page </title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/guidepage.css">

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<button class="btn-news"></button>
				<button class="btn-game" onclick="location.href='/gamepage.ejs'"></button>
				<button class="btn-result"></button>
				<button class="btn-comment"></button>
			</div>

		</div>
	</div>
</body>
</html>
