	<html>
	<head>
		<title> Game Guide </title>



		<script>
			window.onload=function(){

				if(document.documentElement.scrollHeight <= document.documentElement.clientHeight) {
					bodyTag = document.getElementsByTagName('body')[0];
					bodyTag.style.height = document.documentElement.clientWidth / screen.width * screen.height + 'px';
				}
				setTimeout(function() {
					window.scrollTo(0, 1)
				}, 0);
			};
		</script>


		<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">

		<style type="text/css">

		/* Shared Attributes */
		.btn-game{
			height: 300px;
			width: 300px;
			border-radius: 50%;
			font-size: 40px;
			border-style: solid;
			border-width: 20px;
			position: relative;
			text-align: center;
			overflow:hidden
		}
		.btn-game div{
			border-radius: 50%;
			height: 250px;
			width: 250px;
			position: absolute;
			z-index: 80;
		}
		.btn-game span{
			color: white;
			position: absolute;
			left: 30;
			bottom: 50;
			z-index: 120;
			font-size: 50px;
		}

		/* Left top */
		.btn-game-alpha{
			border-color: #c0e6fb;
			background-color: #026cbb;
		}
		.btn-game-alpha div{
			background-color: #06b7ef;
			bottom: 20%;
			left: 15%;
		}
		.btn-game-alpha:hover{

		}

		/* Right top */
		.btn-game-beta{
			border-color: #c8fce0;
			background-color: #36cf79;
		}
		.btn-game-beta div{
			background-color: #09a24f;
			bottom: 15%;
			left: -10;
		}

		/* Left bottom */
		.btn-game-gamma{
			border-color: #fdb4ab;
			background-color: #fb8578;
		}
		.btn-game-gamma div{
			background-color: #e85545;
			bottom: 15%;
			left: 8;
		}

		/* Right bottom */
		.btn-game-delta{
			border-color: #f6eebd;
			background-color: #fde26e;
		}
		.btn-game-delta div{
			background-color: #f0c81e;
			bottom: -10%;
			left: 20;
		}

		/* Back btn */
		.btn-back{
			background-color: #d58e54;
			color: white;
			height: 100px;
			width: 250px;
			font-size: 40;
		}
		</style>

	</head>
	<body style="background-image: url(public/imgs/game_bg.png); background-size: cover;">

		<div class="container">

			<!-- Block 1 -->
			<div class="row" style="position: absolute;top: 0;left: 0;">
				<div class="col-sm-12">
					<button class="btn btn-back" onclick="location.href='/guide'">Back</button>
				</div>
			</div>

			<!-- Block 2 -->
			<div class="row" style="margin-top: 40%;">
				<div class="col-sm-5">
					<button class="btn btn-game btn-game-alpha" onclick="location.href='/coffee_cups'">
						<div></div>
						<span>COFFEE <br> CUPS</span>
					</button>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-5">
					<button class="btn btn-game btn-game-beta" onclick="location.href='/rubbish_rain'">
						<div></div>
						<span>RUBBISH <br> RAIN</span>
					</button>
				</div>
			</div>

			<!-- Block 2 -->
			<div class="row" style="margin-top: 75%;">
				<div class="col-sm-5">
					<button class="btn btn-game btn-game-gamma" onclick="location.href='/match_color'">
						<div></div>
						<span>MATCH <br> COLOR</span>
					</button>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-5">
					<button class="btn btn-game btn-game-delta " onclick="location.href='/container_sort'">
						<div></div>
						<span>CONTAINER <br> SORT</span>
					</button>
				</div>
			</div>

		</div>


	</body>
	</html>
