<html>
<head>
	<title> Guide Page </title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">

	<style type="text/css">
	body{
		background-color: #0b5c9a;
	}

	/* News btn */
	.btn-news{
		transition: all 0.5s;
		background: url(public/imgs/news.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
		margin-top: 35%;
	}
	.btn-news:hover{
		background: url(public/imgs/news-click.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
	}

	/* Game btn */
	.btn-game{
		transition: all 0.5s;
		background: url(public/imgs/game.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
		margin-top: 35%;
	}
	.btn-game:hover{
		background: url(public/imgs/game-click.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
	}

	/* Result btn */
	.btn-result{
		transition: all 0.5s;
		background: url(public/imgs/result.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
		margin-top: 35%;
	}
	.btn-result:hover{
		background: url(public/imgs/result-click.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
	}

	/* Result btn */
	.btn-comment{
		transition: all 0.5s;
		background: url(public/imgs/comment.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
		margin-top: 35%;
	}
	.btn-comment:hover{
		background: url(public/imgs/comment.png) no-repeat;
		height: 131px;
		width: 131px;
		border: 0px;
	}

	.content-block{
		border-radius: 15px;
		padding: 3% 3% 3% 3%;
	}

	.item-title{
		font-size: 35px;
		color: white;
	}
	.news-item{
		font-size: 25px;
		color: white;
	}
	</style>

</head>

<body>

	<div class="container">

		<div style="height: 100%;width: 20%;position: fixed; left: 0;top 0;background-color: #3d84b5;"></div>

		<% for(var i = 0; i < 4; i++){%>
		<div class="row" style="margin-top: 20%;">
			<div class="col-sm-3">
				<% if (i == 0){ %>
				<button class="btn-news"></button>
				<% } %>
				<% if (i == 1){ %>
				<button class="btn-game" onclick="location.href='/game'"></button>
				<% } %>
				<% if (i == 2){ %>
				<button class="btn-result"></button>
				<% } %>
				<% if (i == 3){ %>
				<button class="btn-comment"></button>
				<% } %>
			</div>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-12">
						<span class="item-title">Smart Green News</span>
					</div>
				</div>
				<div class="row">
					<% if (i == 0){ %>
						<div class="col-sm-12 content-block" style="background-color: #e7960a;">
					<% } %>
					<% if (i == 1){ %>
						<div class="col-sm-12 content-block" style="background-color: #eb6c41;">
					<% } %>
					<% if (i == 2){ %>
						<div class="col-sm-12 content-block" style="background-color: #0d5288;">
					<% } %>
					<% if (i == 3){ %>
						<div class="col-sm-12 content-block" style="background-color: #df6847;">
					<% } %>

									<div class="row news-item">
										<div class="col-sm-12">
											Green mind news
										</div>
									</div>
									<div class="row news-item">
										<div class="col-sm-12">
											Green mind Games
										</div>
									</div>
									<div class="row news-item">
										<div class="col-sm-12">
											Intelligent
										</div>
									</div>
									<div class="row news-item">
										<div class="col-sm-12">
											Green mind news!
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%}%>

					<!-- End of container -->
				</div>

			</body>
			</html>
