<html>
<head>
	<meta name="viewport" content="user-scalable=no" />
	<title> Success </title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<style type="text/css">
	body{
		background-color: #025b9e;
	}
    h1 {
        font-weight: bolder;
        font-size: 400%;
        font-family:Georgia;
        color: rgb(244, 234, 243);
    }
	</style>



</head>
<body>

    <div class="article">

            <h1>
                Log in Success !!!!
            </h1>

    </div>

</body>
</html>
