<html>
<head>
	<meta name="viewport" content="user-scalable=no" />
	<title> Login </title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<style type="text/css">
	.form-label{
		text-align: right;
		padding: 0px;
	}
	body{
		background-color: #025b9e;
	}
	body .container{
		margin-top: 30%;
	}
	.form-group label{
		font-size: 30px;
	}
	.form-group input{
		font-size: 30px;
		height: 60px;
	}
	.col-sm-6 button{
		height: 60px;
		font-size: 20px;
	}

	#skip{
		width: 10%;
		background: none;
		color: #ececec;
		font-size: 150%;
		font-weight: bolder;
	}
	</style>

</head>
<body>
	<div class="container">

		<div class="row" style="margin-top: 5%;margin-bottom: 5%;">
			<div class="col-sm-12" style="text-align: center;">
				<img src="imgs/logo.png">
			</div>
		</div>

		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
		<div class="alert alert-danger" style="text-align: center;"><%= message %></div>
		<% } %>

		<!-- LOGIN FORM -->
		<form action="/login" method="post">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="form-group">
						<label style="color: white;">User Name:</label>
						<input type="text" id="username" name="username" class="form-control">
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>


			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="form-group">
						<label style="color: white;">Password:</label>
						<input type="password" id="password" name="password" class="form-control">
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>


			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="col-sm-6" style="padding-top: 2%;padding-left: 1%;padding-right: 1%;">
						<button type="submit" class="btn btn-warning" style="width: 100%;">Log in</button>
					</div>
			</form>
					<!-- The button to direct to the Sign up FORM -->
					<div class="col-sm-6" style="padding-top: 2%;padding-right: 1%;padding-left: 1%;">
						<button type="button" class="btn btn-success" style="width: 100%;" onclick="SignUpPage()">Sing up</button>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>

			<!-- The button to direct to the guide page, skip Log in and Sign up-->
			<div class="row">
				<div class="col-sm-12" style="text-align: center;">
					<button type="button" class="btn btn-skip" id="skip" onclick="skip()">skip</button>
				</div>
			</div>

	</div>

	<script>
	function SignUpPage() {
		window.location.href='/signup';
	}

	function skip() {
		window.location.href='/guide';
	}
	</script>

</body>
</html>
