<html>
<head>
	<meta name="viewport" content="user-scalable=no" />
	<title> Login </title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">

	<style type="text/css">
	.form-label{
		text-align: right;
		padding: 0px;
	}
	body{
		background-color: #025b9e;
	}
	body .container{
		margin-top: 30%;
	}
	.form-group label{
		font-size: 30px;
	}
	.form-group input{
		font-size: 30px;
		height: 60px;
	}
	.col-sm-6 button{
		height: 60px;
		font-size: 20px;
	}
	</style>

</head>
<body>


	<div class="contianer">
		<div class="row">
			<div class="col-sm-12" style="text-align: center;margin-top: 10%;">
				<img src="public/imgs/result/medal.png" style="width: 120px; height: 173px;">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" style="text-align: center;margin-top: 5%;">
				<img src="public/imgs/result/star.png" style="width: 14px; height: 14px;margin-right: 1%;">
				<img src="public/imgs/result/star.png" style="width: 14px; height: 14px;margin-right: 1%;">
				<img src="public/imgs/result/star.png" style="width: 14px; height: 14px;margin-right: 1%;">
				<img src="public/imgs/result/star.png" style="width: 14px; height: 14px;">
			</div>
		</div>

		<div class="row" style="margin-top: 10%;">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="text-align: center;">
				<div class="col-xs-4" style="color: white;">
					Game1
				</div>
				<div class="col-xs-4" style="color: white;">
					7645
				</div>
				<div class="col-xs-4" style="color: white;">
					Username
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>



		<div class="row" style="margin-top: 2%;">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="text-align: center;">
				<div class="col-xs-4" style="color: white;">
					Game2
				</div>
				<div class="col-xs-4" style="color: white;">
					7645
				</div>
				<div class="col-xs-4" style="color: white;">
					Username
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>


		<div class="row" style="margin-top: 2%;">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="text-align: center;">
				<div class="col-xs-4" style="color: white;">
					Game3
				</div>
				<div class="col-xs-4" style="color: white;">
					7645
				</div>
				<div class="col-xs-4" style="color: white;">
					Username
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>


		<div class="row" style="margin-top: 2%;">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="text-align: center;">
				<div class="col-xs-4" style="color: white;">
					Game4
				</div>
				<div class="col-xs-4" style="color: white;">
					7645
				</div>
				<div class="col-xs-4" style="color: white;">
					Username
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>


		<div class="row" style="margin-top: 15%;">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="color: white;text-align: center;">
				<div class="col-xs-1"></div>
				<div class="col-xs-2">Score</div>
				<div class="col-xs-2">123</div>
				<div class="col-xs-2">234</div>
				<div class="col-xs-2">345</div>
				<div class="col-xs-2">456</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="col-xs-1"></div>
		</div>


		<div class="row" style="margin-top: 3%;">
			<div class="col-xs-1"></div>
			<div class="col-xs-10" style="color: white;text-align: center;">
				<div class="col-xs-1"></div>
				<div class="col-xs-2">Coin</div>
				<div class="col-xs-8" style="text-align: left;">
					<img src="public/imgs/result/coin.png" style="width: 24px; height: 24px;">
					<img src="public/imgs/result/coin.png" style="width: 24px; height: 24px;">
					<img src="public/imgs/result/coin.png" style="width: 24px; height: 24px;">
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="col-xs-1"></div>
		</div>


		<div class="row" style="margin-top: 10%;">
			<div class="col-xs-12" style="text-align: center;">
				<button class="btn btn-warning" style="padding: 2% 25% 2% 	25%;">Back</button>
			</div>
		</div>

	</div>




</body>
</html>
